:root[theme="light"] .light-hidden {
  display: none;
}

:root[theme="yellow"] .light-hidden {
  display: none;
}

:root[theme="green"] .light-hidden {
  display: none;
}

:root[theme="dark"] .dark-hidden {
  display: none;
}

.text-hidden {
  display: none;
}

:root[mode="image"] .text-hidden {
  display: inline;
}

html,
html[theme="light"] {
  --text-color: black;
  --background-color: white;
  --background-color-hover: #f5f5f5;
  --link-color: #2a9df4;
  --link-hover-color: #187bcd;
}

html[theme="dark"] {
  --text-color: white;
  --background-color: black;
  --background-color-hover: #101010;
  --link-color: #2a9df4;
  --link-hover-color: lightskyblue;
}

html[theme="yellow"] {
  --background-color: lightyellow;
  --background-color-hover: #fef2ae;
  --link-color: #ff7700;
  --link-hover-color: #ff4d00;
}

html[theme="green"] {
  --background-color: #d6efc7;
  --background-color-hover: #b3d898;
  --link-color: #11698e;
  --link-hover-color: #1b3700;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 1.4rem;
  line-height: 1.4;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  text-align: center;
  max-width: 800px;
}

.navbar {
  margin-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

.header {
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 0.3rem;
}

.about {
  width: 100%;
  text-align: left;
  margin-bottom: 100px;
  margin-top: 100px;
}

.projects {
  text-align: left;
}

.card {
  border: 0px solid;
  background-color: var(--background-color);
  margin-top: 50px;
  color: var(--text-color);
}

.card:hover {
  background-color: var(--background-color-hover);
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
}

.project-date {
  color: grey;
  font-size: 1rem;
}

.project-title {
  font-weight: bold;
}

.project-description {
  padding-top: 5px;
  font-size: 1.2rem;
}

#profile {
  border-radius: 50%;
  margin-top: 50px;
}

img {
  object-fit: cover;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

hr {
  border-top: 1px solid grey;
  margin-top: 100px;
}

footer a {
  color: grey;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

footer a:hover {
  color: grey;
}

footer {
  margin-top: 25px;
  margin-bottom: 50px;
}

button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 0px solid;
}

button:focus {
  box-shadow: none;
  outline: none;
}

.color-mode-toggle {
  width: 2em;
  height: 2em;
  border-radius: 7px;
  padding: 0;
}

svg {
  width: 65%;
  height: 65%;
  stroke: var(--text-color);
  transition: 0.5s;
}

ul {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

ul li {
  position: relative;
  display: block;
  color: var(--text-color);
  font-size: 30px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}

ul a {
  color: var(--text-color);
}

.status {
  color: blue;
}
